body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  #menu {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #menu h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  #menu label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
    font-weight: bold;
  }
  
  #menu input[type="text"] {
    width: 280px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #description-input { 
    width: 280px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  #menu button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  #menu button[type="button"]:hover {
    background-color: #3e8e41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .block {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block; /* Add this to make the block visible */
    border-radius: 10px;
    overflow: hidden;
  }
  
  .block h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .block img {
    width: 500px;
    height: 500px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .block p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
    font-weight: bold;
  }
  
  #block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  #create-block {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  #create-block:hover { 
    background-color: #2e6830;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }